.ease-fontsize-transition {
    transition: font-size 1s ease;
}

.app-nav-header-name {
    font-size: 24px;
}

.app-nav-header-name-largefont {
    font-size: 24px;
}

.app-nav-header-name-smallfont {
    font-size: 14px;
}

.project-card {
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #222;
}
.project-card:hover, .project-card:active {
    color: #f00; }
.project-card__image {
    padding: 0;
    height: 200px;
    transition: 1s;
}
.project-card__image:hover {
    height: 150px;
}
.project-card__content {
    padding: 15px;
}
.project-card__title {
    font-weight: 600;
    font-size: 1.8rem; }
.project-card__text {
    color: #222;
    font-size: 1.4rem; }

.paddingv0 {
    padding-top: 0;
    padding-bottom: 0;
}

.margin0 {
    margin: 0;
}

.padding0 {
    padding: 0 !important;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.questioning-link {
    color: #ffffff;
}
.questioning-link:hover {
    color: #aaaaaa;
}
.container-main {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}