html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

.link {
    color: #0065ff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:hover, &:active {
        color: #f00;
        border-color: #f00;
    }
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}

.footer {
    padding: 50px 0;
    background-color: #eee;
    &__container { }
    &__copyright { }
    &__author {
        margin-top: 1.5rem;
        font-size: 1.2rem;
        color: #888;
    }
}
